wikidump.xml
wikidump*

### idea
.idea
*.iml

### sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### spark
spark-warehouse
metastore_db
derby.log

## docco / github.io
docs
doc
